@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #030328;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}